body {
    margin: 0px;
}

.container img {
    margin: 0px 180;
    

}
.header-logo {
    margin-top: 18px;
    margin-right: 0px;
}
.nav
{
    margin-left: 200px;
    margin-top: 0px;
}
.header {
    position: absolute;
    width: 100%;
    height: 100%;
    
    background: linear-gradient(240.12deg, rgba(0, 194, 255, 0.8) 18.07%, rgba(255, 0, 214, 0.81) 88.79%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    

}


.cart {

 margin-left: 600px;
 margin-right: 600px;
 margin-top: 10px;
 

}

.h1 {
    
    font-weight: 800;
    font-size: 30px;
    line-height: 25px;
    font-family: "consolas"
    
    text-align: center;
    margin-top: 220px;
    margin-right: 600px;
    margin-left: 600px;
    
}

.cart2
{

    margin-right: 200px;
    margin-top: 7px;
    margin-left: 7px;
   
}

.cart3
{
 margin-left: 101px;
 margin-top: -95px;
}
.h2 {
    color: blue;
    font-family: "consolas"
    line-height: 25px;
    font-weight: 800;
    font-size: 27px;
    color: blue
    
    
    
    
    
    text-align: center;
    margin-top: 110px;
    margin-right: 600px;
    margin-left: 10px;
    
    
}

.ot  
{
    font-size: 30px;
  
    margin-top: -40px;
    margin-left: 1250px
    
}

.stars
{ 
    color: yellow;
    font-size: 40px;
    margin-left: 1055px;
    margin-top: -50px
    
    
}