*{
    position: absolute;
width: 934px;
height: 193px;

font-family: 'Arial';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 59px;
text-align: center;
margin: 100;

color: #000000;
}